
<body>
    

<div *ngIf="images && images.length > 0"  class="carousel-container">
       <img *ngFor="let image of images; let i=index" 
       [src]="image.imageSrc" [alt]="image.imageAlt"
       [ngClass]="{'images-active': selectedIndex === i}">

       <button *ngIf="controls" class="btn-carousel btn-prev" (click)="onprevclick()">
         <i class="fas fa-arrow-circle-left icon-carousel icon-prev"></i>
       </button>

       <button *ngIf="controls" class="btn-carousel btn-next" (click)="onNextclick()">
        <i class="fas fa-arrow-circle-right icon-carousel icon-next"></i>
       </button>

</div>


</body>

  